**INFO212 Assignment2 T22**

# Data Collection
1. Data Collection (10 marks): 
• Download JSON data files containing economic indicators from reputable 
sources (e.g. such as the World Bank or IMF). 
• Ensure the data spans at least 5 years for multiple countries.

In [15]:
import json
import pandas as pd

with open("Dataset.json", "r")as df:
    table=json.load(df)
table

{'Country': {'0': 'China',
  '1': 'France',
  '2': 'India',
  '3': 'Japan',
  '4': 'Singapore',
  '5': 'United Kingdom',
  '6': 'United States',
  '7': 'Pakistan',
  '8': 'Italy'},
 'GDP (constant LCU)': {'0': {'2010 [YR2010]': 36.7000007629,
   '2011 [YR2011]': 34.7999992371,
   '2012 [YR2012]': '33.5999984741211',
   '2013 [YR2013]': '31.3999996185303',
   '2014 [YR2014]': '29.5',
   '2015 [YR2015]': 28.5900001526,
   '2016 [YR2016]': 27.7000007629,
   '2017 [YR2017]': '26.9799995422363',
   '2018 [YR2018]': 26.0699996948,
   '2019 [YR2019]': 25.3299999237},
  '1': {'2010 [YR2010]': 2.9100000858,
   '2011 [YR2011]': 2.9100000858,
   '2012 [YR2012]': '2.92000007629395',
   '2013 [YR2013]': '3.07999992370605',
   '2014 [YR2014]': '2.84999990463257',
   '2015 [YR2015]': 2.7100000381,
   '2016 [YR2016]': 2.8599998951,
   '2017 [YR2017]': '2.60999989509583',
   '2018 [YR2018]': 2.5,
   '2019 [YR2019]': 2.5299999714},
  '2': {'2010 [YR2010]': 51.5200004578,
   '2011 [YR2011]': 49.2599983215,
   '2012 [YR2012]': '47',
   '2013 [YR2013]': '46.5',
   '2014 [YR2014]': '45.8899993896484',
   '2015 [YR2015]': 45.2599983215,
   '2016 [YR2016]': 44.5600013733,
   '2017 [YR2017]': '43.9300003051758',
   '2018 [YR2018]': 43.3300018311,
   '2019 [YR2019]': 42.5999984741},
  '3': {'2010 [YR2010]': 4.0700001717,
   '2011 [YR2011]': 3.9700000286,
   '2012 [YR2012]': '3.86999988555908',
   '2013 [YR2013]': '3.75',
   '2014 [YR2014]': '3.69000005722046',
   '2015 [YR2015]': 3.6300001144,
   '2016 [YR2016]': 3.5,
   '2017 [YR2017]': '3.44000005722046',
   '2018 [YR2018]': 3.4900000095,
   '2019 [YR2019]': 3.3800001144},
  '4': {'2010 [YR2010]': 0.1099999994,
   '2011 [YR2011]': 0.1099999994,
   '2012 [YR2012]': '0.100000001490116',
   '2013 [YR2013]': '0.100000001490116',
   '2014 [YR2014]': '0.0900000035762787',
   '2015 [YR2015]': 0.0799999982,
   '2016 [YR2016]': 0.0599999987,
   '2017 [YR2017]': '0.0599999986588955',
   '2018 [YR2018]': 0.0599999987,
   '2019 [YR2019]': 0.0299999993},
  '5': {'2010 [YR2010]': 1.2200000286,
   '2011 [YR2011]': 1.2200000286,
   '2012 [YR2012]': '1.19000005722046',
   '2013 [YR2013]': '1.05999994277954',
   '2014 [YR2014]': '1.25999999046326',
   '2015 [YR2015]': 1.1399999857,
   '2016 [YR2016]': 1.1299999952,
   '2017 [YR2017]': '1.1599999666214',
   '2018 [YR2018]': 1.0700000525,
   '2019 [YR2019]': 1.0499999523},
  '6': {'2010 [YR2010]': 1.4199999571,
   '2011 [YR2011]': 1.4500000477,
   '2012 [YR2012]': '1.37999999523163',
   '2013 [YR2013]': '1.32000005245209',
   '2014 [YR2014]': '1.35000002384186',
   '2015 [YR2015]': 1.4400000572,
   '2016 [YR2016]': 1.4299999475,
   '2017 [YR2017]': '1.42999994754791',
   '2018 [YR2018]': 1.3700000048,
   '2019 [YR2019]': 1.3600000143},
  '7': {'2010 [YR2010]': 43.3899993896,
   '2011 [YR2011]': 43.4900016785,
   '2012 [YR2012]': '42.8899993896484',
   '2013 [YR2013]': '42.2400016784668',
   '2014 [YR2014]': '42.2299995422363',
   '2015 [YR2015]': 41.0099983215,
   '2016 [YR2016]': 42.2700004578,
   '2017 [YR2017]': '39.8600006103516',
   '2018 [YR2018]': 37.4199981689,
   '2019 [YR2019]': 36.9199981689},
  '8': {'2010 [YR2010]': 3.7699999809,
   '2011 [YR2011]': 3.6800000668,
   '2012 [YR2012]': '3.69000005722046',
   '2013 [YR2013]': '3.59999990463257',
   '2014 [YR2014]': '3.64000010490417',
   '2015 [YR2015]': 3.75,
   '2016 [YR2016]': 3.8800001144,
   '2017 [YR2017]': '3.77999997138977',
   '2018 [YR2018]': 3.7599999905,
   '2019 [YR2019]': 3.8900001049}},
 'GDP (current LCU)': {'0': {'2010 [YR2010]': 28.7000007629,
   '2011 [YR2011]': 29.5,
   '2012 [YR2012]': '30.2999992370605',
   '2013 [YR2013]': '30.1000003814697',
   '2014 [YR2014]': '29.8999996185303',
   '2015 [YR2015]': 29.1800003052,
   '2016 [YR2016]': 28.7999992371,
   '2017 [YR2017]': '28.1100006103516',
   '2018 [YR2018]': 28.3199996948,
   '2019 [YR2019]': 27.4200000763},
  '1': {'2010 [YR2010]': 22.25,
   '2011 [YR2011]': 22.1700000763,
   '2012 [YR2012]': '21.7600002288818',
   '2013 [YR2013]': '21.3099994659424',
   '2014 [YR2014]': '20.5300006866455',
   '2015 [YR2015]': 20.3199996948,
   '2016 [YR2016]': 20.2299995422,
   '2017 [YR2017]': '20.4099998474121',
   '2018 [YR2018]': 20.2399997711,
   '2019 [YR2019]': 20.4300003052},
  '2': {'2010 [YR2010]': 21.8099994659,
   '2011 [YR2011]': 23.1000003815,
   '2012 [YR2012]': '24.3600006103516',
   '2013 [YR2013]': '24.3700008392334',
   '2014 [YR2014]': '24.4500007629395',
   '2015 [YR2015]': 24.5400009155,
   '2016 [YR2016]': 24.7399997711,
   '2017 [YR2017]': '24.8600006103516',
   '2018 [YR2018]': 24.9500007629,
   '2019 [YR2019]': 25.1200008392},
  '3': {'2010 [YR2010]': 25.5599994659,
   '2011 [YR2011]': 25.3400001526,
   '2012 [YR2012]': '25.2700004577637',
   '2013 [YR2013]': '25.2600002288818',
   '2014 [YR2014]': '25.0799999237061',
   '2015 [YR2015]': 24.9699993134,
   '2016 [YR2016]': 24.7000007629,
   '2017 [YR2017]': '24.6299991607666',
   '2018 [YR2018]': 24.4300003052,
   '2019 [YR2019]': 24.2199993134},
  '4': {'2010 [YR2010]': 21.8600006104,
   '2011 [YR2011]': 20.8700008392,
   '2012 [YR2012]': '20.5400009155273',
   '2013 [YR2013]': '19.8799991607666',
   '2014 [YR2014]': '17.7399997711182',
   '2015 [YR2015]': 17.3899993896,
   '2016 [YR2016]': 16.8799991608,
   '2017 [YR2017]': '16.4300003051758',
   '2018 [YR2018]': 16.0,
   '2019 [YR2019]': 15.5500001907},
  '5': {'2010 [YR2010]': 19.2099990845,
   '2011 [YR2011]': 19.1800003052,
   '2012 [YR2012]': '19.0699996948242',
   '2013 [YR2013]': '18.8700008392334',
   '2014 [YR2014]': '18.9699993133545',
   '2015 [YR2015]': 18.6599998474,
   '2016 [YR2016]': 18.4699993134,
   '2017 [YR2017]': '18.2600002288818',
   '2018 [YR2018]': 18.1299991608,
   '2019 [YR2019]': 18.1200008392},
  '6': {'2010 [YR2010]': 19.6399993896,
   '2011 [YR2011]': 19.7099990845,
   '2012 [YR2012]': '19.7399997711182',
   '2013 [YR2013]': '19.9500007629395',
   '2014 [YR2014]': '19.9799995422363',
   '2015 [YR2015]': 19.8600006104,
   '2016 [YR2016]': 19.7800006866,
   '2017 [YR2017]': '19.7299995422363',
   '2018 [YR2018]': 19.8700008392,
   '2019 [YR2019]': 19.9099998474},
  '7': {'2010 [YR2010]': 21.4200000763,
   '2011 [YR2011]': 21.7700004578,
   '2012 [YR2012]': '22.3199996948242',
   '2013 [YR2013]': '22.9200000762939',
   '2014 [YR2014]': '22.8700008392334',
   '2015 [YR2015]': 24.0200004578,
   '2016 [YR2016]': 23.5900001526,
   '2017 [YR2017]': '24.2900009155273',
   '2018 [YR2018]': 24.9899997711,
   '2019 [YR2019]': 24.9599990845},
  '8': {'2010 [YR2010]': 28.6100006104,
   '2011 [YR2011]': 28.2900009155,
   '2012 [YR2012]': '27.5799999237061',
   '2013 [YR2013]': '27.0499992370605',
   '2014 [YR2014]': '26.8999996185303',
   '2015 [YR2015]': 26.6000003815,
   '2016 [YR2016]': 26.1200008392,
   '2017 [YR2017]': '26',
   '2018 [YR2018]': 26.1000003815,
   '2019 [YR2019]': 25.8700008392}},
 'Inflation, consumer prices (annual %)': {'0': {'2010 [YR2010]': 34.5999984741,
   '2011 [YR2011]': 35.7000007629,
   '2012 [YR2012]': '36.0999984741211',
   '2013 [YR2013]': '38.5',
   '2014 [YR2014]': '40.5999984741211',
   '2015 [YR2015]': 42.2299995422,
   '2016 [YR2016]': 43.5,
   '2017 [YR2017]': '44.9099998474121',
   '2018 [YR2018]': 45.6100006104,
   '2019 [YR2019]': 47.25},
  '1': {'2010 [YR2010]': 74.8399963379,
   '2011 [YR2011]': 74.9199981689,
   '2012 [YR2012]': '75.3199996948242',
   '2013 [YR2013]': '75.620002746582',
   '2014 [YR2014]': '76.620002746582',
   '2015 [YR2015]': 76.9700012207,
   '2016 [YR2016]': 76.9100036621,
   '2017 [YR2017]': '76.9800033569336',
   '2018 [YR2018]': 77.2699966431,
   '2019 [YR2019]': 77.0400009155},
  '2': {'2010 [YR2010]': 26.6800003052,
   '2011 [YR2011]': 27.6399993896,
   '2012 [YR2012]': '28.6399993896484',
   '2013 [YR2013]': '29.1299991607666',
   '2014 [YR2014]': '29.6599998474121',
   '2015 [YR2015]': 30.2000007629,
   '2016 [YR2016]': 30.7000007629,
   '2017 [YR2017]': '31.2099990844727',
   '2018 [YR2018]': 31.7199993134,
   '2019 [YR2019]': 32.2799987793},
  '3': {'2010 [YR2010]': 70.3700027466,
   '2011 [YR2011]': 70.6900024414,
   '2012 [YR2012]': '70.8600006103516',
   '2013 [YR2013]': '70.9899978637695',
   '2014 [YR2014]': '71.2300033569336',
   '2015 [YR2015]': 71.3899993896,
   '2016 [YR2016]': 71.7900009155,
   '2017 [YR2017]': '71.9300003051758',
   '2018 [YR2018]': 72.0800018311,
   '2019 [YR2019]': 72.4000015259},
  '4': {'2010 [YR2010]': 78.0299987793,
   '2011 [YR2011]': 79.0199966431,
   '2012 [YR2012]': '79.3600006103516',
   '2013 [YR2013]': '80.0299987792969',
   '2014 [YR2014]': '82.1699981689453',
   '2015 [YR2015]': 82.5299987793,
   '2016 [YR2016]': 83.0599975586,
   '2017 [YR2017]': '83.5100021362305',
   '2018 [YR2018]': 83.9499969482,
   '2019 [YR2019]': 84.4100036621},
  '5': {'2010 [YR2010]': 79.5699996948,
   '2011 [YR2011]': 79.5999984741,
   '2012 [YR2012]': '79.7399978637695',
   '2013 [YR2013]': '80.0699996948242',
   '2014 [YR2014]': '79.7799987792969',
   '2015 [YR2015]': 80.1999969482,
   '2016 [YR2016]': 80.4000015259,
   '2017 [YR2017]': '80.5800018310547',
   '2018 [YR2018]': 80.8000030518,
   '2019 [YR2019]': 80.8300018311},
  '6': {'2010 [YR2010]': 78.9400024414,
   '2011 [YR2011]': 78.8399963379,
   '2012 [YR2012]': '78.879997253418',
   '2013 [YR2013]': '78.7300033569336',
   '2014 [YR2014]': '78.6699981689453',
   '2015 [YR2015]': 78.6999969482,
   '2016 [YR2016]': 78.7900009155,
   '2017 [YR2017]': '78.8499984741211',
   '2018 [YR2018]': 78.7600021362,
   '2019 [YR2019]': 78.7399978638},
  '7': {'2010 [YR2010]': 35.1899986267,
   '2011 [YR2011]': 34.7400016785,
   '2012 [YR2012]': '34.7900009155273',
   '2013 [YR2013]': '34.8400001525879',
   '2014 [YR2014]': '34.8899993896484',
   '2015 [YR2015]': 34.9700012207,
   '2016 [YR2016]': 34.1300010681,
   '2017 [YR2017]': '35.8499984741211',
   '2018 [YR2018]': 37.5999984741,
   '2019 [YR2019]': 38.1300010681},
  '8': {'2010 [YR2010]': 67.6200027466,
   '2011 [YR2011]': 68.0299987793,
   '2012 [YR2012]': '68.7200012207031',
   '2013 [YR2013]': '69.3499984741211',
   '2014 [YR2014]': '69.4599990844727',
   '2015 [YR2015]': 69.6500015259,
   '2016 [YR2016]': 69.9899978638,
   '2017 [YR2017]': '70.2099990844727',
   '2018 [YR2018]': 70.1399993896,
   '2019 [YR2019]': 70.2399978638}},
 'Unemployment, total (% of total labor force) (modeled ILO estimate)': {'0': {'2010 [YR2010]': 27.1853327204,
   '2011 [YR2011]': 26.5681893452,
   '2012 [YR2012]': '25.4925222245396',
   '2013 [YR2013]': '24.599254436897',
   '2014 [YR2014]': '23.5100609074235',
   '2015 [YR2015]': 21.3540798829,
   '2016 [YR2016]': 19.5843800536,
   '2017 [YR2017]': '19.6922769882201',
   '2018 [YR2018]': 19.1121035364,
   '2019 [YR2019]': 18.4099923155},
  '1': {'2010 [YR2010]': 26.7882998403,
   '2011 [YR2011]': 28.4213374764,
   '2012 [YR2012]': '29.2030271868495',
   '2013 [YR2013]': '29.3647378670492',
   '2014 [YR2014]': '29.666684498073',
   '2015 [YR2015]': 30.5926223781,
   '2016 [YR2016]': 30.2475371834,
   '2017 [YR2017]': '30.9486331871',
   '2018 [YR2018]': 31.7136672103,
   '2019 [YR2019]': 31.5920554144},
  '2': {'2010 [YR2010]': 22.4009332488,
   '2011 [YR2011]': 24.5404113196,
   '2012 [YR2012]': '24.534430661418',
   '2013 [YR2013]': '25.430861300519',
   '2014 [YR2014]': '22.9679630081172',
   '2015 [YR2015]': 19.8131891564,
   '2016 [YR2016]': 19.1582349106,
   '2017 [YR2017]': '18.7917648392982',
   '2018 [YR2018]': 19.9278285989,
   '2019 [YR2019]': 18.6909827074},
  '3': {'2010 [YR2010]': 14.9185034496,
   '2011 [YR2011]': 14.7744622613,
   '2012 [YR2012]': '14.4147746129824',
   '2013 [YR2013]': '15.7841567318773',
   '2014 [YR2014]': '17.4186553484795',
   '2015 [YR2015]': 17.4367598377,
   '2016 [YR2016]': 16.0579692361,
   '2017 [YR2017]': '17.5914391047836',
   '2018 [YR2018]': 18.3260176547,
   '2019 [YR2019]': 17.4453778323},
  '4': {'2010 [YR2010]': 197.998960793,
   '2011 [YR2011]': 203.3277086495,
   '2012 [YR2012]': '196.719612875759',
   '2013 [YR2013]': '195.077796338143',
   '2014 [YR2014]': '191.953535787505',
   '2015 [YR2015]': 178.3846084997,
   '2016 [YR2016]': 164.771753616,
   '2017 [YR2017]': '171.397022719441',
   '2018 [YR2018]': 176.5921441524,
   '2019 [YR2019]': 175.2741156679},
  '5': {'2010 [YR2010]': 28.189952208,
   '2011 [YR2011]': 30.7138206503,
   '2012 [YR2012]': '29.9368811198155',
   '2013 [YR2013]': '29.7738901545042',
   '2014 [YR2014]': '28.1098327329943',
   '2015 [YR2015]': 27.1847735545,
   '2016 [YR2016]': 28.2207813202,
   '2017 [YR2017]': '30.0456859641903',
   '2018 [YR2018]': 30.5063972259,
   '2019 [YR2019]': 31.0049780892},
  '6': {'2010 [YR2010]': 12.3413608087,
   '2011 [YR2011]': 13.5634671535,
   '2012 [YR2012]': '13.6440493967794',
   '2013 [YR2013]': '13.5780743740926',
   '2014 [YR2014]': '13.5459593384987',
   '2015 [YR2015]': 12.4609931642,
   '2016 [YR2016]': 11.9395387322,
   '2017 [YR2017]': '12.2371893966472',
   '2018 [YR2018]': 12.3422406728,
   '2019 [YR2019]': 11.7895354311},
  '7': {'2010 [YR2010]': 13.5162678459,
   '2011 [YR2011]': 13.9666696578,
   '2012 [YR2012]': '12.3966627590851',
   '2013 [YR2013]': '13.2771534315669',
   '2014 [YR2014]': '12.2425836268349',
   '2015 [YR2015]': 10.6044113782,
   '2016 [YR2016]': 8.7367172468,
   '2017 [YR2017]': '8.22161246904219',
   '2018 [YR2018]': 8.5817997076,
   '2019 [YR2019]': 9.3908633788},
  '8': {'2010 [YR2010]': 25.0740498513,
   '2011 [YR2011]': 26.8724634661,
   '2012 [YR2012]': '28.3792428359574',
   '2013 [YR2013]': '28.6332430796987',
   '2014 [YR2014]': '29.1088281864091',
   '2015 [YR2015]': 29.7159823724,
   '2016 [YR2016]': 29.3278907466,
   '2017 [YR2017]': '30.733733319636',
   '2018 [YR2018]': 31.3535542008,
   '2019 [YR2019]': 31.6026782976}},
 'Employment in agriculture (% of total employment) (modeled ILO estimate)': {'0': {'2010 [YR2010]': 4.0035629003,
   '2011 [YR2011]': 3.7088289021,
   '2012 [YR2012]': '2.82709055579985',
   '2013 [YR2013]': '3.03987546926686',
   '2014 [YR2014]': '2.55923344660606',
   '2015 [YR2015]': 2.192181603,
   '2016 [YR2016]': 1.5556421496,
   '2017 [YR2017]': '1.34913267883946',
   '2018 [YR2018]': 1.6939052938,
   '2019 [YR2019]': 1.3107187784},
  '1': {'2010 [YR2010]': 1.470195727,
   '2011 [YR2011]': 1.5428754084,
   '2012 [YR2012]': '1.2275966210615',
   '2013 [YR2013]': '1.12342342416041',
   '2014 [YR2014]': '0.203254562718045',
   '2015 [YR2015]': 1.7557237414,
   '2016 [YR2016]': 1.3264916981,
   '2017 [YR2017]': '1.38212038996389',
   '2018 [YR2018]': 2.7765781436,
   '2019 [YR2019]': 2.1064677762},
  '2': {'2010 [YR2010]': 1.6350342738,
   '2011 [YR2011]': 2.0020655519,
   '2012 [YR2012]': '1.31293433730695',
   '2013 [YR2013]': '1.51627596536499',
   '2014 [YR2014]': '1.69565878566846',
   '2015 [YR2015]': 2.0921157577,
   '2016 [YR2016]': 1.9373631981,
   '2017 [YR2017]': '1.50731658089818',
   '2018 [YR2018]': 1.5582147934,
   '2019 [YR2019]': 1.7873817389},
  '3': {'2010 [YR2010]': 0.1292044896,
   '2011 [YR2011]': -0.0136482745,
   '2012 [YR2012]': '0.00872020150189613',
   '2013 [YR2013]': '0.204293384186424',
   '2014 [YR2014]': '0.403354543401037',
   '2015 [YR2015]': 0.1181619877,
   '2016 [YR2016]': 0.8184816153,
   '2017 [YR2017]': '0.381319638034274',
   '2018 [YR2018]': 0.5019887697,
   '2019 [YR2019]': 0.7799738989},
  '4': {'2010 [YR2010]': 23.0693363234,
   '2011 [YR2011]': 17.5963671617,
   '2012 [YR2012]': '18.7438843921531',
   '2013 [YR2013]': '20.9344810446532',
   '2014 [YR2014]': '21.8193490738118',
   '2015 [YR2015]': 22.6537707424,
   '2016 [YR2016]': 20.5007570444,
   '2017 [YR2017]': '28.9079934980423',
   '2018 [YR2018]': 21.5334066105,
   '2019 [YR2019]': 29.6904405665},
  '5': {'2010 [YR2010]': 2.678908149,
   '2011 [YR2011]': 1.009837234,
   '2012 [YR2012]': '1.71931104646277',
   '2013 [YR2013]': '1.94318633029263',
   '2014 [YR2014]': '1.90758944697346',
   '2015 [YR2015]': 1.5333114109,
   '2016 [YR2016]': 11.9291547673,
   '2017 [YR2017]': '4.64461035873752',
   '2018 [YR2018]': -0.8637449745,
   '2019 [YR2019]': 0.0776981182},
  '6': {'2010 [YR2010]': 1.7545326855,
   '2011 [YR2011]': 1.6891127712,
   '2012 [YR2012]': '1.54020811932936',
   '2013 [YR2013]': '1.71066753395925',
   '2014 [YR2014]': '1.43502130688419',
   '2015 [YR2015]': 2.8091476291,
   '2016 [YR2016]': 2.5374976592,
   '2017 [YR2017]': '1.95498166240004',
   '2018 [YR2018]': 1.0440559799,
   '2019 [YR2019]': 1.4139570746},
  '7': {'2010 [YR2010]': 1.1413048581,
   '2011 [YR2011]': 0.6208231001,
   '2012 [YR2012]': '0.382826516848328',
   '2013 [YR2013]': '0.576510795073031',
   '2014 [YR2014]': '0.772218504215834',
   '2015 [YR2015]': 0.6183559727,
   '2016 [YR2016]': 0.821350368,
   '2017 [YR2017]': '0.735836874144917',
   '2018 [YR2018]': 0.4877456709,
   '2019 [YR2019]': 0.6961464447},
  '8': {'2010 [YR2010]': 0.4648893591,
   '2011 [YR2011]': 1.5017676463,
   '2012 [YR2012]': '0.00167234025572561',
   '2013 [YR2013]': '0.911862937337876',
   '2014 [YR2014]': '0.787819994555961',
   '2015 [YR2015]': 0.7243366043,
   '2016 [YR2016]': 1.3668451751,
   '2017 [YR2017]': '0.567766926666821',
   '2018 [YR2018]': 2.1152554817,
   '2019 [YR2019]': 1.5505113837}},
 'Employment in industry (% of total employment) (modeled ILO estimate)': {'0': {'2010 [YR2010]': 47043149830900.0,
   '2011 [YR2011]': 51536162122900.0,
   '2012 [YR2012]': '55588830088000',
   '2013 [YR2013]': '59905942070100',
   '2014 [YR2014]': '64354415744400',
   '2015 [YR2015]': 68885821804900.0,
   '2016 [YR2016]': 73603647933300.0,
   '2017 [YR2017]': '78717041146400',
   '2018 [YR2018]': 84030263391400.0,
   '2019 [YR2019]': 89030484847900.0},
  '1': {'2010 [YR2010]': 2088815332000.0,
   '2011 [YR2011]': 2134616799000.0,
   '2012 [YR2012]': '2141301026000',
   '2013 [YR2013]': '2153641915000',
   '2014 [YR2014]': '2174234674000',
   '2015 [YR2015]': 2198432000000.0,
   '2016 [YR2016]': 2222515040000.0,
   '2017 [YR2017]': '2273442194000',
   '2018 [YR2018]': 2315843393000.0,
   '2019 [YR2019]': 2358523734000.0},
  '2': {'2010 [YR2010]': 83012348441800.0,
   '2011 [YR2011]': 87363287113700.0,
   '2012 [YR2012]': '92130167686000',
   '2013 [YR2013]': '98013698221800',
   '2014 [YR2014]': '105276736344200',
   '2015 [YR2015]': 113694931359600.0,
   '2016 [YR2016]': 123081932232700.0,
   '2017 [YR2017]': '131445821447400',
   '2018 [YR2018]': 139929139362800.0,
   '2019 [YR2019]': 145159576577300.0},
  '3': {'2010 [YR2010]': 510673586544000.0,
   '2011 [YR2011]': 510795175493000.0,
   '2012 [YR2012]': '517817337272000',
   '2013 [YR2013]': '528200093617000',
   '2014 [YR2014]': '529764651420000',
   '2015 [YR2015]': 538032300000000.0,
   '2016 [YR2016]': 542088131379000.0,
   '2017 [YR2017]': '551169905966000',
   '2018 [YR2018]': 554389113383000.0,
   '2019 [YR2019]': 553056634487000.0},
  '4': {'2010 [YR2010]': 340270700000.0,
   '2011 [YR2011]': 361418300000.0,
   '2012 [YR2012]': '377449000000',
   '2013 [YR2013]': '395633100000',
   '2014 [YR2014]': '411203400000',
   '2015 [YR2015]': 423444100000.0,
   '2016 [YR2016]': 438525900000.0,
   '2017 [YR2017]': '458967500000',
   '2018 [YR2018]': 475771700000.0,
   '2019 [YR2019]': 480984600000.0},
  '5': {'2010 [YR2010]': 1745550153000.0,
   '2011 [YR2011]': 1770992653000.0,
   '2012 [YR2012]': '1797024253000',
   '2013 [YR2013]': '1830988341000',
   '2014 [YR2014]': '1885756220000',
   '2015 [YR2015]': 1935212000000.0,
   '2016 [YR2016]': 1979014818000.0,
   '2017 [YR2017]': '2021255961000',
   '2018 [YR2018]': 2054625391000.0,
   '2019 [YR2019]': 2088977581000.0},
  '6': {'2010 [YR2010]': 16383037055000.0,
   '2011 [YR2011]': 16636956919000.0,
   '2012 [YR2012]': '17016393933000',
   '2013 [YR2013]': '17329814706000',
   '2014 [YR2014]': '17726282036000',
   '2015 [YR2015]': 18206020741000.0,
   '2016 [YR2016]': 18509601053000.0,
   '2017 [YR2017]': '18927118511000',
   '2018 [YR2018]': 19479574015000.0,
   '2019 [YR2019]': 19925436115000.0},
  '7': {'2010 [YR2010]': 25478242578536.6,
   '2011 [YR2011]': 26178488105214.7,
   '2012 [YR2012]': '27096576431940.7',

In [36]:
columns=[]
values=[]
for key, value in table.items():
    columns.append(key)
    values.append(list(value.values()))
columns=list(columns)
new_table=pd.DataFrame(values).transpose()
new_table.columns=columns
new_table

,Country,GDP (constant LCU),GDP (current LCU),"Inflation, consumer prices (annual %)","Unemployment, total (% of total labor force) (modeled ILO estimate)",Employment in agriculture (% of total employment) (modeled ILO estimate),Employment in industry (% of total employment) (modeled ILO estimate),Employment in services (% of total employment) (modeled ILO estimate),"Tariff rate, applied, simple mean, all products (%)","Foreign direct investment, net inflows (% of GDP)",Exports of goods and services (% of GDP),GDP growth (annual %)
0,China,"{'2010 [YR2010]': 36.7000007629, '2011 [YR2011...","{'2010 [YR2010]': 28.7000007629, '2011 [YR2011...","{'2010 [YR2010]': 34.5999984741, '2011 [YR2011...","{'2010 [YR2010]': 27.1853327204, '2011 [YR2011...","{'2010 [YR2010]': 4.0035629003, '2011 [YR2011]...","{'2010 [YR2010]': 47043149830900.0, '2011 [YR2...","{'2010 [YR2010]': 41211925579600.0, '2011 [YR2...","{'2010 [YR2010]': 10.6358710647, '2011 [YR2011...","{'2010 [YR2010]': 3.1753247527, '2011 [YR2011]...","{'2010 [YR2010]': 8.09, '2011 [YR2011]': 8.13,...","{'2010 [YR2010]': 4.5300002098, '2011 [YR2011]..."
1,France,"{'2010 [YR2010]': 2.9100000858, '2011 [YR2011]...","{'2010 [YR2010]': 22.25, '2011 [YR2011]': 22.1...","{'2010 [YR2010]': 74.8399963379, '2011 [YR2011...","{'2010 [YR2010]': 26.7882998403, '2011 [YR2011...","{'2010 [YR2010]': 1.470195727, '2011 [YR2011]'...","{'2010 [YR2010]': 2088815332000.0, '2011 [YR20...","{'2010 [YR2010]': 1995289000000.0, '2011 [YR20...","{'2010 [YR2010]': 1.9494376231, '2011 [YR2011]...","{'2010 [YR2010]': 1.5311227042, '2011 [YR2011]...","{'2010 [YR2010]': 2.78, '2011 [YR2011]': 2.3, ...","{'2010 [YR2010]': 8.8699998856, '2011 [YR2011]..."
2,India,"{'2010 [YR2010]': 51.5200004578, '2011 [YR2011...","{'2010 [YR2010]': 21.8099994659, '2011 [YR2011...","{'2010 [YR2010]': 26.6800003052, '2011 [YR2011...","{'2010 [YR2010]': 22.4009332488, '2011 [YR2011...","{'2010 [YR2010]': 1.6350342738, '2011 [YR2011]...","{'2010 [YR2010]': 83012348441800.0, '2011 [YR2...","{'2010 [YR2010]': 76344721043700.0, '2011 [YR2...","{'2010 [YR2010]': 8.4975847016, '2011 [YR2011]...","{'2010 [YR2010]': 11.9893899204, '2011 [YR2011...","{'2010 [YR2010]': 8.88, '2011 [YR2011]': 10.56...","{'2010 [YR2010]': 5.5460000038, '2011 [YR2011]..."
3,Japan,"{'2010 [YR2010]': 4.0700001717, '2011 [YR2011]...","{'2010 [YR2010]': 25.5599994659, '2011 [YR2011...","{'2010 [YR2010]': 70.3700027466, '2011 [YR2011...","{'2010 [YR2010]': 14.9185034496, '2011 [YR2011...","{'2010 [YR2010]': 0.1292044896, '2011 [YR2011]...","{'2010 [YR2010]': 510673586544000.0, '2011 [YR...","{'2010 [YR2010]': 505530600000000.0, '2011 [YR...","{'2010 [YR2010]': 4.0979179193, '2011 [YR2011]...","{'2010 [YR2010]': -0.7282432075, '2011 [YR2011...","{'2010 [YR2010]': 3.63, '2011 [YR2011]': 3.84,...","{'2010 [YR2010]': 5.0999999046, '2011 [YR2011]..."
4,Singapore,"{'2010 [YR2010]': 0.1099999994, '2011 [YR2011]...","{'2010 [YR2010]': 21.8600006104, '2011 [YR2011...","{'2010 [YR2010]': 78.0299987793, '2011 [YR2011...","{'2010 [YR2010]': 197.998960793, '2011 [YR2011...","{'2010 [YR2010]': 23.0693363234, '2011 [YR2011...","{'2010 [YR2010]': 340270700000.0, '2011 [YR201...","{'2010 [YR2010]': 326980100000.0, '2011 [YR201...","{'2010 [YR2010]': 14.5197497109, '2011 [YR2011...","{'2010 [YR2010]': 2.8236613489, '2011 [YR2011]...","{'2010 [YR2010]': 0.17, '2011 [YR2011]': 0.28,...","{'2010 [YR2010]': 4.1199998856, '2011 [YR2011]..."
5,United Kingdom,"{'2010 [YR2010]': 1.2200000286, '2011 [YR2011]...","{'2010 [YR2010]': 19.2099990845, '2011 [YR2011...","{'2010 [YR2010]': 79.5699996948, '2011 [YR2011...","{'2010 [YR2010]': 28.189952208, '2011 [YR2011]...","{'2010 [YR2010]': 2.678908149, '2011 [YR2011]'...","{'2010 [YR2010]': 1745550153000.0, '2011 [YR20...","{'2010 [YR2010]': 1612195000000.0, '2011 [YR20...","{'2010 [YR2010]': 2.1314381978, '2011 [YR2011]...","{'2010 [YR2010]': 2.4926547247, '2011 [YR2011]...","{'2010 [YR2010]': 3.02, '2011 [YR2011]': 2.5, ...","{'2010 [YR2010]': 7.7899999619, '2011 [YR2011]..."
6,United States,"{'2010 [YR2010]': 1.4199999571, '2011 [YR2011]...","{'2010 [YR2010]': 19.6399993896, '2011 [YR2011...","{'2010 [YR2010]': 78.9400024414, '2011 [YR2011...","{'2010 [YR2010]': 12.3413608087, '2011 [YR2011...","{'2010 [YR2010]': 1.7545326855, '2011 [YR2011]...","{'2010 [YR2010]': 16383037055000.0, '2011 [YR2...","{'2010 [YR2010]': 15048964444000.0, '2011 [YR2...","{'2010 [YR2010]': 2.7088566942, '2011 [YR2011]...","{'2010 [YR2010]': 1.6400434424, '2011 [YR2011]...","{'2010 [YR2010]': 2.96, '2011 [YR2011]': 3.03,...","{'2010 [YR2010]': 9.6300001144, '2011 [YR2011]..."
7,Pakistan,"{'2010 [YR2010]': 43.3899993896, '2011 [YR2011...","{'2010 [YR2010]': 21.4200000763, '2011 [YR2011...","{'2010 [YR2010]': 35.1899986267, '2011 [YR2011...","{'2010 [YR2010]': 13.5162678459, '2011 [YR2011...","{'2010 [YR2010]': 1.1413048581, '2011 [YR2011]...","{'2010 [YR2010]': 25478242578536.6, '2011 [YR2...","{'2010 [YR2010]': 14866996000000.0, '2011 [YR2...","{'2010 [YR2010]': 1.6066886291, '2011 [YR2011]...","{'2010 [YR2010]': 12.9388705635, '2011 [YR2011...","{'2010 [YR2010]': 14.79, '2011 [YR2011]': 14.3...","{'2010 [YR2010]': 0.6499999762, '2011 [YR2011]..."
8,Italy,"{'2010 [YR2010]': 3.7699999809, '2011 [YR2011]...","{'2010 [YR2010]': 28.6100006104, '2011 [YR2011...","{'2010 [YR2010]': 67.6200027466, '2011 [YR2011...","{'2010 [YR2010]': 25.0740498513, '2011 [YR2011...","{'2010 [YR2010]': 0.4648893591, '2011 [YR2011]...","{'2010 [YR2010]': 1712756800000.0, '2011 [YR20...","{'2010 [YR2010]': 1611279400000.0, '2011 [YR20...","{'2010 [YR2010]': 1.7132958392, '2011 [YR2011]...","{'2010 [YR2010]': 1.5255160212, '2011 [YR2011]...","{'2010 [YR2010]': 2.78, '2011 [YR2011]': 2.3, ...","{'2010 [YR2010]': 8.3599996567, '2011 [YR2011]..."

In [73]:
years=list(c1LCU[0].keys())
years

['2010 [YR2010]',
 '2011 [YR2011]',
 '2012 [YR2012]',
 '2013 [YR2013]',
 '2014 [YR2014]',
 '2015 [YR2015]',
 '2016 [YR2016]',
 '2017 [YR2017]',
 '2018 [YR2018]',
 '2019 [YR2019]']

In [75]:
constant_LCU={year:[] for year in years}
c1LCU=new_table["GDP (constant LCU)"]
for i in c1LCU:
    for j in years:
        constant_LCU[j].append(i[j])
constant_LCU=pd.DataFrame(constant_LCU.values()).transpose()
constant_LCU.columns=years
constant_LCU["Country"]=new_table["Country"]
constant_LCU

,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],Country
0,36.700001,34.799999,33.5999984741211,31.3999996185303,29.5,28.59,27.700001,26.9799995422363,26.07,25.33,China
1,2.91,2.91,2.92000007629395,3.07999992370605,2.84999990463257,2.71,2.86,2.60999989509583,2.5,2.53,France
2,51.52,49.259998,47,46.5,45.8899993896484,45.259998,44.560001,43.9300003051758,43.330002,42.599998,India
3,4.07,3.97,3.86999988555908,3.75,3.69000005722046,3.63,3.5,3.44000005722046,3.49,3.38,Japan
4,0.11,0.11,0.100000001490116,0.100000001490116,0.0900000035762787,0.08,0.06,0.0599999986588955,0.06,0.03,Singapore
5,1.22,1.22,1.19000005722046,1.05999994277954,1.25999999046326,1.14,1.13,1.1599999666214,1.07,1.05,United Kingdom
6,1.42,1.45,1.37999999523163,1.32000005245209,1.35000002384186,1.44,1.43,1.42999994754791,1.37,1.36,United States
7,43.389999,43.490002,42.8899993896484,42.2400016784668,42.2299995422363,41.009998,42.27,39.8600006103516,37.419998,36.919998,Pakistan
8,3.77,3.68,3.69000005722046,3.59999990463257,3.64000010490417,3.75,3.88,3.77999997138977,3.76,3.89,Italy

In [76]:
current_LCU={year:[] for year in years}
c1LCU=new_table["GDP (current LCU)"]
for i in c1LCU:
    for j in years:
        current_LCU[j].append(i[j])
current_LCU=pd.DataFrame(current_LCU.values()).transpose()
current_LCU.columns=years
current_LCU["Country"]=new_table["Country"]
current_LCU

,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],Country
0,28.700001,29.5,30.2999992370605,30.1000003814697,29.8999996185303,29.18,28.799999,28.1100006103516,28.32,27.42,China
1,22.25,22.17,21.7600002288818,21.3099994659424,20.5300006866455,20.32,20.23,20.4099998474121,20.24,20.43,France
2,21.809999,23.1,24.3600006103516,24.3700008392334,24.4500007629395,24.540001,24.74,24.8600006103516,24.950001,25.120001,India
3,25.559999,25.34,25.2700004577637,25.2600002288818,25.0799999237061,24.969999,24.700001,24.6299991607666,24.43,24.219999,Japan
4,21.860001,20.870001,20.5400009155273,19.8799991607666,17.7399997711182,17.389999,16.879999,16.4300003051758,16.0,15.55,Singapore
5,19.209999,19.18,19.0699996948242,18.8700008392334,18.9699993133545,18.66,18.469999,18.2600002288818,18.129999,18.120001,United Kingdom
6,19.639999,19.709999,19.7399997711182,19.9500007629395,19.9799995422363,19.860001,19.780001,19.7299995422363,19.870001,19.91,United States
7,21.42,21.77,22.3199996948242,22.9200000762939,22.8700008392334,24.02,23.59,24.2900009155273,24.99,24.959999,Pakistan
8,28.610001,28.290001,27.5799999237061,27.0499992370605,26.8999996185303,26.6,26.120001,26,26.1,25.870001,Italy

In [77]:
CPI={year:[] for year in years}
c1LCU=new_table["Inflation, consumer prices (annual %)"]
for i in c1LCU:
    for j in years:
        CPI[j].append(i[j])
CPI=pd.DataFrame(CPI.values()).transpose()
CPI.columns=years
CPI["Country"]=new_table["Country"]
CPI

,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],Country
0,34.599998,35.700001,36.0999984741211,38.5,40.5999984741211,42.23,43.5,44.9099998474121,45.610001,47.25,China
1,74.839996,74.919998,75.3199996948242,75.620002746582,76.620002746582,76.970001,76.910004,76.9800033569336,77.269997,77.040001,France
2,26.68,27.639999,28.6399993896484,29.1299991607666,29.6599998474121,30.200001,30.700001,31.2099990844727,31.719999,32.279999,India
3,70.370003,70.690002,70.8600006103516,70.9899978637695,71.2300033569336,71.389999,71.790001,71.9300003051758,72.080002,72.400002,Japan
4,78.029999,79.019997,79.3600006103516,80.0299987792969,82.1699981689453,82.529999,83.059998,83.5100021362305,83.949997,84.410004,Singapore
5,79.57,79.599998,79.7399978637695,80.0699996948242,79.7799987792969,80.199997,80.400002,80.5800018310547,80.800003,80.830002,United Kingdom
6,78.940002,78.839996,78.879997253418,78.7300033569336,78.6699981689453,78.699997,78.790001,78.8499984741211,78.760002,78.739998,United States
7,35.189999,34.740002,34.7900009155273,34.8400001525879,34.8899993896484,34.970001,34.130001,35.8499984741211,37.599998,38.130001,Pakistan
8,67.620003,68.029999,68.7200012207031,69.3499984741211,69.4599990844727,69.650002,69.989998,70.2099990844727,70.139999,70.239998,Italy

In [78]:
Unemployment={year:[] for year in years}
c1LCU=new_table["Unemployment, total (% of total labor force) (modeled ILO estimate)"]
for i in c1LCU:
    for j in years:
        Unemployment[j].append(i[j])
Unemployment=pd.DataFrame(Unemployment.values()).transpose()
Unemployment.columns=years
Unemployment["Country"]=new_table["Country"]
Unemployment

,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],Country
0,27.185333,26.568189,25.4925222245396,24.599254436897,23.5100609074235,21.35408,19.58438,19.6922769882201,19.112104,18.409992,China
1,26.7883,28.421337,29.2030271868495,29.3647378670492,29.666684498073,30.592622,30.247537,30.9486331871,31.713667,31.592055,France
2,22.400933,24.540411,24.534430661418,25.430861300519,22.9679630081172,19.813189,19.158235,18.7917648392982,19.927829,18.690983,India
3,14.918503,14.774462,14.4147746129824,15.7841567318773,17.4186553484795,17.43676,16.057969,17.5914391047836,18.326018,17.445378,Japan
4,197.998961,203.327709,196.719612875759,195.077796338143,191.953535787505,178.384608,164.771754,171.397022719441,176.592144,175.274116,Singapore
5,28.189952,30.713821,29.9368811198155,29.7738901545042,28.1098327329943,27.184774,28.220781,30.0456859641903,30.506397,31.004978,United Kingdom
6,12.341361,13.563467,13.6440493967794,13.5780743740926,13.5459593384987,12.460993,11.939539,12.2371893966472,12.342241,11.789535,United States
7,13.516268,13.96667,12.3966627590851,13.2771534315669,12.2425836268349,10.604411,8.736717,8.22161246904219,8.5818,9.390863,Pakistan
8,25.07405,26.872463,28.3792428359574,28.6332430796987,29.1088281864091,29.715982,29.327891,30.733733319636,31.353554,31.602678,Italy

In [79]:
EE={year:[] for year in years}
c1LCU=new_table["Employment in agriculture (% of total employment) (modeled ILO estimate)"]
for i in c1LCU:
    for j in years:
        EE[j].append(i[j])
EE=pd.DataFrame(EE.values()).transpose()
EE.columns=years
EE["Country"]=new_table["Country"]
EE

,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],Country
0,4.003563,3.708829,2.82709055579985,3.03987546926686,2.55923344660606,2.192182,1.555642,1.34913267883946,1.693905,1.310719,China
1,1.470196,1.542875,1.2275966210615,1.12342342416041,0.203254562718045,1.755724,1.326492,1.38212038996389,2.776578,2.106468,France
2,1.635034,2.002066,1.31293433730695,1.51627596536499,1.69565878566846,2.092116,1.937363,1.50731658089818,1.558215,1.787382,India
3,0.129204,-0.013648,0.00872020150189613,0.204293384186424,0.403354543401037,0.118162,0.818482,0.381319638034274,0.501989,0.779974,Japan
4,23.069336,17.596367,18.7438843921531,20.9344810446532,21.8193490738118,22.653771,20.500757,28.9079934980423,21.533407,29.690441,Singapore
5,2.678908,1.009837,1.71931104646277,1.94318633029263,1.90758944697346,1.533311,11.929155,4.64461035873752,-0.863745,0.077698,United Kingdom
6,1.754533,1.689113,1.54020811932936,1.71066753395925,1.43502130688419,2.809148,2.537498,1.95498166240004,1.044056,1.413957,United States
7,1.141305,0.620823,0.382826516848328,0.576510795073031,0.772218504215834,0.618356,0.82135,0.735836874144917,0.487746,0.696146,Pakistan
8,0.464889,1.501768,0.00167234025572561,0.911862937337876,0.787819994555961,0.724337,1.366845,0.567766926666821,2.115255,1.550511,Italy

In [80]:
EI={year:[] for year in years}
c1LCU=new_table["Employment in industry (% of total employment) (modeled ILO estimate)"]
for i in c1LCU:
    for j in years:
        EI[j].append(i[j])
EI=pd.DataFrame(EI.values()).transpose()
EI.columns=years
EI["Country"]=new_table["Country"]
EI

,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],Country
0,47043149830900.0,51536162122900.0,55588830088000,59905942070100,64354415744400,68885821804900.0,73603647933300.0,78717041146400,84030263391400.0,89030484847900.0,China
1,2088815332000.0,2134616799000.0,2141301026000,2153641915000,2174234674000,2198432000000.0,2222515040000.0,2273442194000,2315843393000.0,2358523734000.0,France
2,83012348441800.0,87363287113700.0,92130167686000,98013698221800,105276736344200,113694931359600.0,123081932232700.0,131445821447400,139929139362800.0,145159576577300.0,India
3,510673586544000.0,510795175493000.0,517817337272000,528200093617000,529764651420000,538032300000000.0,542088131379000.0,551169905966000,554389113383000.0,553056634487000.0,Japan
4,340270700000.0,361418300000.0,377449000000,395633100000,411203400000,423444100000.0,438525900000.0,458967500000,475771700000.0,480984600000.0,Singapore
5,1745550153000.0,1770992653000.0,1797024253000,1830988341000,1885756220000,1935212000000.0,1979014818000.0,2021255961000,2054625391000.0,2088977581000.0,United Kingdom
6,16383037055000.0,16636956919000.0,17016393933000,17329814706000,17726282036000,18206020741000.0,18509601053000.0,18927118511000,19479574015000.0,19925436115000.0,United States
7,25478242578536.601562,26178488105214.699219,27096576431940.7,28287865663933.6,29610240777903.7,31011144936906.300781,32725049000000.0,34175628000000,36278011000000.0,37184104000000.0,Pakistan
8,1712756800000.0,1724871700000.0,1673454900000,1642645500000,1642570800000,1655355000000.0,1676766400000.0,1704732500000,1720515100000.0,1729121700000.0,Italy

In [81]:
ES={year:[] for year in years}
c1LCU=new_table["Employment in services (% of total employment) (modeled ILO estimate)"]
for i in c1LCU:
    for j in years:
        ES[j].append(i[j])
ES=pd.DataFrame(ES.values()).transpose()
ES.columns=years
ES["Country"]=new_table["Country"]
ES

,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],Country
0,41211925579600.0,48794018052500.0,53857995346900,59296322954900,64356310454400,68885821804900.0,74639505948400.0,83203594856000,91928112906700.0,98651520229200.0,China
1,1995289000000.0,2058369000000.0,2088804000000,2117189000000,2149765000000,2198432000000.0,2234129000000.0,2297242000000,2363306000000.0,2437635000000.0,France
2,76344721043700.0,87363287113700.0,99440131041500,112335216116400,124679592925500,137718738788600.0,153916690148700.0,170900423611300,188996684445900.0,200748557920000.0,India
3,505530600000000.0,497448900000000.0,500474700000000,508700600000000,518811000000000,538032300000000.0,544364600000000.0,553073000000000,556293800000000.0,558491200000000.0,Japan
4,326980100000.0,351367900000.0,368770500000,384870300000,398947900000,423444100000.0,440467000000.0,473915700000,508495100000.0,512219900000.0,Singapore
5,1612195000000.0,1669509000000.0,1721355000000,1793155000000,1876162000000,1935212000000.0,2016638000000.0,2097143000000,2174380000000.0,2255283000000.0,United Kingdom
6,15048964444000.0,15599728123000.0,16253972230000,16843190993000,17550680174000,18206020741000.0,18695110842000.0,19479620056000,20527156026000.0,21372572437000.0,United States
7,14866996000000.0,18276440000000.0,20046500000000,22385656800000,25168805000000,27443022495100.0,32725049000000.0,35552819000000,39189810000000.0,43798401000000.0,Pakistan
8,1611279400000.0,1648755800000.0,1624358700000,1612751300000,1627405600000,1655355000000.0,1695786800000.0,1736592800000,1771391200000.0,1796633800000.0,Italy

In [82]:
TR={year:[] for year in years}
c1LCU=new_table["Tariff rate, applied, simple mean, all products (%)"]
for i in c1LCU:
    for j in years:
        TR[j].append(i[j])
TR=pd.DataFrame(TR.values()).transpose()
TR.columns=years
TR["Country"]=new_table["Country"]
TR

,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],Country
0,10.635871,9.550832,7.86373644866194,7.766150097539,7.42576365645755,7.041329,6.848762,6.94720079327288,6.749774,5.950501,China
1,1.949438,2.192701,0.313134751077172,0.576326674771792,0.956183052371557,1.112912,1.095464,2.29141999417021,1.865066,1.842972,France
2,8.497585,5.241315,5.45638875297365,6.38610640094825,7.41022760508854,7.996254,8.256306,6.79538341897911,6.453851,3.737919,India
3,4.097918,0.02381,1.37475099920874,2.0051001767726,0.296205514142628,1.560627,0.753827,1.67533175166503,0.584068,-0.240351,Japan
4,14.51975,6.214934,4.43549759378537,4.81763099120676,3.93554027709007,2.976799,3.561698,4.6614350486482,3.661305,1.095673,Singapore
5,2.131438,1.457563,1.46988752075868,1.8900183424514,2.99116481375781,2.622597,2.263464,2.13445309331686,1.650925,1.671944,United Kingdom
6,2.708857,1.549895,2.28068760319185,1.84187539518688,2.28777593255359,2.70637,1.667472,2.25568048065699,2.918857,2.28887,United States
7,1.606689,2.748406,3.50703342009702,4.39645663349796,4.67470798143705,4.731147,5.526736,4.43262590683975,6.151703,2.497637,Pakistan
8,1.713296,0.707333,-2.98090576823772,-1.84106545088248,-0.00454754236383792,0.778304,1.293463,1.66785904106857,0.925811,0.500234,Italy

In [83]:
FI={year:[] for year in years}
c1LCU=new_table["Foreign direct investment, net inflows (% of GDP)"]
for i in c1LCU:
    for j in years:
        FI[j].append(i[j])
FI=pd.DataFrame(FI.values()).transpose()
FI.columns=years
FI["Country"]=new_table["Country"]
FI

,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],Country
0,3.175325,5.553899,2.61952432645544,2.62105001748115,1.92164162788521,1.437024,2.000002,1.59313600071434,2.07479,2.899234,China
1,1.531123,2.111598,1.95419531613507,0.863715497861826,0.507758822937957,0.037514,0.183335,1.03228275064674,1.850815,1.108255,France
2,11.98939,8.911793,9.47899691419793,10.0178784746103,6.665656718679,4.906973,4.948216,3.32817337461301,3.938826,3.729506,India
3,-0.728243,-0.272456,-0.0440645104433029,0.335037912184809,2.75922671353253,0.79528,-0.127259,0.484199796126387,0.989095,0.468776,Japan
4,2.823661,5.247793,4.57560270376522,2.35860415399836,1.02514803039394,-0.522618,-0.532269,0.576260310166371,0.43862,0.565261,Singapore
5,2.492655,3.856112,2.57323479654528,2.29166666666666,1.45112016293279,0.368047,1.008417,2.55775577557754,2.29284,1.738105,United Kingdom
6,1.640043,3.156842,2.06933726526059,1.46483265562714,1.62222297740821,0.118627,1.261583,2.13011000365963,2.442583,1.81221,United States
7,12.938871,11.916093,9.6823518605568,7.6921561189957,7.18938402847025,2.529328,3.765119,4.08537368032604,5.078057,10.578362,Pakistan
8,1.525516,2.780633,3.04136333226773,1.21999342274305,0.241047429826773,0.03879,-0.094017,1.22653316645808,1.137488,0.611247,Italy

In [116]:
Export={year:[] for year in years}
c1LCU=new_table["Exports of goods and services (% of GDP)"]
for i in c1LCU:
    for j in years:
        Export[j].append(i[j])
Export=pd.DataFrame(Export.values()).transpose()
Export.columns=years
Export["Country"]=new_table["Country"]
Export

,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],Country
0,8.09,8.13,..,..,7.74,7.82,7.88,8.46,7.56,5.39,China
1,2.78,2.3,2.28,2.21,2.76,2.73,2.48,2.48,2.46,2.55,France
2,8.88,10.56,10.71,10.59,..,9.75,8.91,8.88,9.03,10.21,India
3,3.63,3.84,3.8,2.33,3.77,3.52,3.51,3.69,3.77,5.91,Japan
4,0.17,0.28,0.21,0.21,0.2,0.2,0.21,0.19,0.58,1.2,Singapore
5,3.02,2.5,2.51,2.47,2.93,2.9,2.68,2.62,2.44,2.55,United Kingdom
6,2.96,3.03,2.99,2.87,2.93,2.8,2.76,3.36,3.25,8.7,United States
7,14.79,14.39,14.14,14.65,13.63,12.73,12.55,..,12.58,12.55,Pakistan
8,2.78,2.3,2.28,2.21,2.76,2.73,2.48,2.48,2.46,2.55,Italy

In [86]:
GDPGrowth={year:[] for year in years}
c1LCU=new_table["GDP growth (annual %)"]
for i in c1LCU:
    for j in years:
        GDPGrowth[j].append(i[j])
GDPGrowth=pd.DataFrame(GDPGrowth.values()).transpose()
GDPGrowth.columns=years
GDPGrowth["Country"]=new_table["Country"]
GDPGrowth

,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],Country
0,4.53,4.55,4.57000017166138,4.59000015258789,4.6100001335144,4.63,4.53,4.44000005722046,4.28,4.52,China
1,8.87,8.81,9.39999961853027,9.92000007629395,10.289999961853,10.35,10.05,9.40999984741211,9.02,8.41,France
2,5.546,5.426,5.41400003433228,5.42399978637695,5.43599987030029,5.435,5.423,5.35799980163574,5.33,5.27,India
3,5.1,4.55,4.3600001335144,4,3.59999990463257,3.4,3.1,2.79999995231628,2.4,2.4,Japan
4,4.12,3.89,3.72000002861023,3.85999989509583,3.74000000953674,3.79,4.08,4.19999980926514,3.643,3.1,Singapore
5,7.79,8.04,7.88000011444092,7.51999998092651,6.1100001335144,5.3,4.81,4.32999992370605,4.0,3.74,United Kingdom
6,9.63,8.95,8.06999969482422,7.36999988555908,6.17000007629395,5.28,4.87,4.3600001335144,3.9,3.67,United States
7,0.65,0.8,1.84700000286102,2.95000004768372,1.83000004291534,3.57,3.779,3.91599988937378,4.08,3.542,Pakistan
8,8.36,8.36,10.6499996185303,12.1499996185303,12.6800003051758,11.9,11.69,11.210000038147,10.61,9.95,Italy

# Data Preparation
• If required, load the JSON files into Pandas DataFrames.     
• Clean the data by handling missing values, duplicates, and incorrect data 
types.

In [117]:
## 处理缺失值，将".."转化为0， 再将所有数转化为float
import pandas as pd  
  
TableCollection = [constant_LCU, current_LCU, CPI, Unemployment, EE, EI, ES, TR, FI, Export, GDPGrowth]  
  
for num, chart in enumerate(TableCollection):  
    for col in chart.columns:  
        # 替换 ".." 为 '0'  
        chart.loc[chart[col] == "..", col] = 0
          
        # 尝试将列转换为整数，但仅当列中所有值都是可转换为整数的字符串时  
        try:  
            # 首先，确保列中没有非数字的字符串（除了 '0'）  
            if all(pd.to_numeric(chart[col].replace('0', ''), errors='coerce').notnull()):  
                # 替换 '0' 为实际的整数 0，然后转换为整数类型  
                chart[col] = pd.to_numeric(chart[col].replace('0', 0)).astype(float)  
            else:  
                # 如果列中包含不能转换为整数的值，则打印警告并跳过该列  
                print(f"Column '{col}' in DataFrame {num} contains non-integer values and will not be converted to int.")  
        except ValueError:  
            # 如果在尝试转换时发生 ValueError，则打印警告并跳过该列  
            print(f"Column '{col}' in DataFrame {num} could not be converted to int due to a ValueError.")  
              
    TableCollection[num] = chart  

# 现在 TableCollection 中的每个 DataFrame 都已经过处理
TableCollection

Column 'Country' in DataFrame 0 contains non-integer values and will not be converted to int.
Column 'Country' in DataFrame 1 contains non-integer values and will not be converted to int.
Column 'Country' in DataFrame 2 contains non-integer values and will not be converted to int.
Column 'Country' in DataFrame 3 contains non-integer values and will not be converted to int.
Column 'Country' in DataFrame 4 contains non-integer values and will not be converted to int.
Column 'Country' in DataFrame 5 contains non-integer values and will not be converted to int.
Column 'Country' in DataFrame 6 contains non-integer values and will not be converted to int.
Column 'Country' in DataFrame 7 contains non-integer values and will not be converted to int.
Column 'Country' in DataFrame 8 contains non-integer values and will not be converted to int.
Column 'Country' in DataFrame 9 contains non-integer values and will not be converted to int.
Column 'Country' in DataFrame 10 contains non-integer values and will not be converted to int.

[   2010 [YR2010]  2011 [YR2011]  2012 [YR2012]  2013 [YR2013]  2014 [YR2014]  \
 0           36.0           34.0           33.0           31.0           29.0
 1            2.0            2.0            2.0            3.0            2.0
 2           51.0           49.0           47.0           46.0           45.0
 3            4.0            3.0            3.0            3.0            3.0
 4            0.0            0.0            0.0            0.0            0.0
 5            1.0            1.0            1.0            1.0            1.0
 6            1.0            1.0            1.0            1.0            1.0
 7           43.0           43.0           42.0           42.0           42.0
 8            3.0            3.0            3.0            3.0            3.0

    2015 [YR2015]  2016 [YR2016]  2017 [YR2017]  2018 [YR2018]  2019 [YR2019]  \
 0           28.0           27.0           26.0           26.0           25.0
 1            2.0            2.0            2.0            2.0            2.0
 2           45.0           44.0           43.0           43.0           42.0
 3            3.0            3.0            3.0            3.0            3.0
 4            0.0            0.0            0.0            0.0            0.0
 5            1.0            1.0            1.0            1.0            1.0
 6            1.0            1.0            1.0            1.0            1.0
 7           41.0           42.0           39.0           37.0           36.0
 8            3.0            3.0            3.0            3.0            3.0

           Country
 0           China
 1          France
 2           India
 3           Japan
 4       Singapore
 5  United Kingdom
 6   United States
 7        Pakistan
 8           Italy  ,
    2010 [YR2010]  2011 [YR2011]  2012 [YR2012]  2013 [YR2013]  2014 [YR2014]  \
 0           28.0           29.0           30.0           30.0           29.0
 1           22.0           22.0           21.0           21.0           20.0
 2           21.0           23.0           24.0           24.0           24.0
 3           25.0           25.0           25.0           25.0           25.0
 4           21.0           20.0           20.0           19.0           17.0
 5           19.0           19.0           19.0           18.0           18.0
 6           19.0           19.0           19.0           19.0           19.0
 7           21.0           21.0           22.0           22.0           22.0
 8           28.0           28.0           27.0           27.0           26.0

    2015 [YR2015]  2016 [YR2016]  2017 [YR2017]  2018 [YR2018]  2019 [YR2019]  \
 0           29.0           28.0           28.0           28.0           27.0
 1           20.0           20.0           20.0           20.0           20.0
 2           24.0           24.0           24.0           24.0           25.0
 3           24.0           24.0           24.0           24.0           24.0
 4           17.0           16.0           16.0           16.0           15.0
 5           18.0           18.0           18.0           18.0           18.0
 6           19.0           19.0           19.0           19.0           19.0
 7           24.0           23.0           24.0           24.0           24.0
 8           26.0           26.0           26.0           26.0           25.0

           Country
 0           China
 1          France
 2           India
 3           Japan
 4       Singapore
 5  United Kingdom
 6   United States
 7        Pakistan
 8           Italy  ,
    2010 [YR2010]  2011 [YR2011]  2012 [YR2012]  2013 [YR2013]  2014 [YR2014]  \
 0           34.0           35.0           36.0           38.0           40.0
 1           74.0           74.0           75.0           75.0           76.0
 2           26.0           27.0           28.0           29.0           29.0
 3           70.0           70.0           70.0           70.0           71.0
 4           78.0           79.0           79.0           80.0           82.0
 5           79.0           79.0           79.0           80.0           79.0
 6           78.0           78.0           78.0           78.0           78.0
 7           35.0           34.0           34.0           34.0           34.0
 8           67.0           68.0           68.0           69.0           69.0

    2015 [YR2015]  2016 [YR2016]  2017 [YR2017]  2018 [YR2018]  2019 [YR2019]  \
 0           42.0           43.0           44.0           45.0           47.0
 1           76.0           76.0           76.0           77.0           77.0
 2           30.0           30.0           31.0           31.0           32.0
 3           71.0           71.0           71.0           72.0           72.0
 4           82.0           83.0           83.0           83.0           84.0
 5           80.0           80.0           80.0           80.0           80.0
 6           78.0           78.0           78.0           78.0           78.0
 7           34.0           34.0           35.0           37.0           38.0
 8           69.0           69.0           70.0           70.0           70.0

           Country
 0           China
 1          France
 2           India
 3           Japan
 4       Singapore
 5  United Kingdom
 6   United States
 7        Pakistan
 8           Italy  ,
    2010 [YR2010]  2011 [YR2011]  2012 [YR2012]  2013 [YR2013]  2014 [YR2014]  \
 0           27.0           26.0           25.0           24.0           23.0
 1           26.0           28.0           29.0           29.0           29.0
 2           22.0           24.0           24.0           25.0           22.0
 3           14.0           14.0           14.0           15.0           17.0
 4          197.0          203.0          196.0          195.0          191.0
 5           28.0           30.0           29.0           29.0           28.0
 6           12.0           13.0           13.0           13.0           13.0
 7           13.0           13.0           12.0           13.0           12.0
 8           25.0           26.0           28.0           28.0           29.0

    2015 [YR2015]  2016 [YR2016]  2017 [YR2017]  2018 [YR2018]  2019 [YR2019]  \
 0           21.0           19.0           19.0           19.0           18.0
 1           30.0           30.0           30.0           31.0           31.0
 2           19.0           19.0           18.0           19.0           18.0
 3           17.0           16.0           17.0           18.0           17.0
 4          178.0          164.0          171.0          176.0          175.0
 5           27.0           28.0           30.0           30.0           31.0
 6           12.0           11.0           12.0           12.0           11.0
 7           10.0            8.0            8.0            8.0            9.0
 8           29.0           29.0           30.0           31.0           31.0

           Country
 0           China
 1          France
 2           India
 3           Japan
 4       Singapore
 5  United Kingdom
 6   United States
 7        Pakistan
 8           Italy  ,
    2010 [YR2010]  2011 [YR2011]  2012 [YR2012]  2013 [YR2013]  2014 [YR2014]  \
 0            4.0            3.0            2.0            3.0            2.0
 1            1.0            1.0            1.0            1.0            0.0
 2            1.0            2.0            1.0            1.0            1.0
 3            0.0            0.0            0.0            0.0            0.0
 4           23.0           17.0           18.0           20.0           21.0
 5            2.0            1.0            1.0            1.0            1.0
 6            1.0            1.0            1.0            1.0            1.0
 7            1.0            0.0            0.0            0.0            0.0
 8            0.0            1.0            0.0            0.0            0.0

    2015 [YR2015]  2016 [YR2016]  2017 [YR2017]  2018 [YR2018]  2019 [YR2019]  \
 0            2.0            1.0            1.0            1.0            1.0
 1            1.0            1.0            1.0            2.0            2.0
 2            2.0            1.0            1.0            1.0            1.0
 3            0.0            0.0            0.0            0.0            0.0
 4           22.0           20.0           28.0           21.0           29.0
 5            1.0           11.0            4.0            0.0            0.0
 6            2.0            2.0            1.0            1.0            1.0
 7            0.0            0.0            0.0            0.0            0.0
 8            0.0            1.0            0.0            2.0            1.0

           Country
 0           China
 1          France
 2           India
 3           Japan
 4       Singapore
 5  United Kingdom
 6   United States
 7        Pakistan
 8           Italy  ,
    2010 [YR2010]  2011 [YR2011]  2012 [YR2012]  2013 [YR2013]  2014 [YR2014]  \
 0  -2.147484e+09  -2.147484e+09  -2.147484e+09  -2.147484e+09  -2.147484e+09
 1  -2.147484e+09  -2.147484e+09  -2.147484e+09  -2.147484e+09  -2.147484e+09
 2  -2.147484e+09  -2.147484e+09  -2.147484e+09  -2.147484e+09  -2.147484e+09
 3  -2.147484e+09  -2.147484e+09  -2.147484e+09  -2.147484e+09  -2.147484e+09
 4  -2.147484e+09  -2.147484e+09  -2.147484e+09  -2.147484e+09  -2.147484e+09
 5  -2.147484e+09  -2.147484e+09  -2.147484e+09  -2.147484e+09  -2.147484e+09
 6  -2.147484e+09  -2.147484e+09  -2.147484e+09  -2.147484e+09  -2.147484e+09
 7  -2.147484e+09  -2.147484e+09  -2.147484e+09  -2.147484e+09  -2.147484e+09
 8  -2.147484e+09  -2.147484e+09  -2.147484e+09  -2.147484e+09  -2.147484e+09

    2015 [YR2015]  2016 [YR2016]  2017 [YR2017]  2018 [YR2018]  2019 [YR2019]  \
 0  -2.147484e+09  -2.147484e+09  -1.119455e+09  -2.147484e+09  -2.147484e+09
 1  -2.147484e+09  -2.147484e+09   1.404494e+09  -2.147484e+09  -2.147484e+09
 2  -2.147484e+09  -2.147484e+09  -1.652647e+09  -2.147484e+09  -2.147484e+09
 3  -2.147484e+09  -2.147484e+09   1.047838e+09  -2.147484e+09  -2.147484e+09
 4  -2.147484e+09  -2.147484e+09  -5.940007e+08  -2.147484e+09  -2.147484e+09
 5  -2.147484e+09  -2.147484e+09  -1.673635e+09  -2.147484e+09  -2.147484e+09
 6  -2.147484e+09  -2.147484e+09  -8.023625e+08  -2.147484e+09  -2.147484e+09
 7  -2.147484e+09  -2.147484e+09   5.732257e+08  -2.147484e+09  -2.147484e+09
 8  -2.147484e+09  -2.147484e+09  -3.695165e+08  -2.147484e+09  -2.147484e+09

           Country
 0           China
 1          France
 2           India
 3           Japan
 4       Singapore
 5  United Kingdom
 6   United States
 7        Pakistan
 8           Italy  ,
    2010 [YR2010]  2011 [YR2011]  2012 [YR2012]  2013 [YR2013]  2014 [YR2014]  \
 0  -2.147484e+09  -2.147484e+09  -8.945449e+08   4.466324e+06   5.204911e+08
 1  -2.147484e+09  -2.147484e+09   1.449894e+09  -2.298769e+08  -2.013615e+09
 2  -2.147484e+09  -2.147484e+09  -1.246763e+09   3.464895e+08   9.872899e+08
 3  -2.147484e+09  -2.147484e+09  -6.591337e+08   3.784945e+08   4.254797e+08
 4  -2.147484e+09  -2.147484e+09  -5.966875e+08  -1.676757e+09  -4.840585e+08
 5  -2.147484e+09  -2.147484e+09  -9.268857e+08  -2.141330e+09  -7.387084e+08
 6  -2.147484e+09  -2.147484e+09   1.815982e+09  -1.670742e+09   1.443803e+09
 7  -2.147484e+09  -2.147484e+09   1.887630e+09   2.872532e+08   2.966454e+08
 8  -2.147484e+09  -2.147484e+09   8.610621e+08   2.138564e+09  -3.870052e+08

    2015 [YR2015]  2016 [YR2016]  2017 [YR2017]  2018 [YR2018]  2019 [YR2019]  \
 0  -2.147484e+09  -2.147484e+09   1.488398e+09  -2.147484e+09  -2.147484e+09
 1  -2.147484e+09  -2.147484e+09  -5.655034e+08  -2.147484e+09  -2.147484e+09
 2  -2.147484e+09  -2.147484e+09  -6.200638e+08  -2.147484e+09  -2.147484e+09
 3  -2.147484e+09  -2.147484e+09   1.471359e+09  -2.147484e+09  -2.147484e+09
 4  -2.147484e+09  -2.147484e+09   1.469297e+09  -2.147484e+09  -2.147484e+09
 5  -2.147484e+09  -2.147484e+09   1.198960e+09  -2.147484e+09  -2.147484e+09
 6  -2.147484e+09  -2.147484e+09   1.943369e+09  -2.147484e+09  -2.147484e+09
 7  -2.147484e+09  -2.147484e+09  -9.202763e+08  -2.147484e+09  -2.147484e+09
 8  -2.147484e+09  -2.147484e+09   1.426012e+09  -2.147484e+09  -2.147484e+09

           Country
 0           China
 1          France
 2           India
 3           Japan
 4       Singapore
 5  United Kingdom
 6   United States
 7        Pakistan
 8           Italy  ,
    2010 [YR2010]  2011 [YR2011]  2012 [YR2012]  2013 [YR2013]  2014 [YR2014]  \
 0           10.0            9.0            7.0            7.0            7.0
 1            1.0            2.0            0.0            0.0            0.0
 2            8.0            5.0            5.0            6.0            7.0
 3            4.0            0.0            1.0            2.0            0.0
 4           14.0            6.0            4.0            4.0            3.0
 5            2.0            1.0            1.0            1.0            2.0
 6            2.0            1.0            2.0            1.0            2.0
 7            1.0            2.0            3.0            4.0            4.0
 8            1.0            0.0           -2.0           -1.0            0.0

    2015 [YR2015]  2016 [YR2016]  2017 [YR2017]  2018 [YR2018]  2019 [YR2019]  \
 0            7.0            6.0            6.0            6.0            5.0
 1            1.0            1.0            2.0            1.0            1.0
 2            7.0            8.0            6.0            6.0            3.0
 3            1.0            0.0            1.0            0.0            0.0
 4            2.0            3.0            4.0            3.0            1.0
 5            2.0            2.0            2.0            1.0            1.0
 6            2.0            1.0            2.0            2.0            2.0
 7            4.0            5.0            4.0            6.0            2.0
 8            0.0            1.0            1.0            0.0            0.0

           Country
 0           China
 1          France
 2           India
 3           Japan
 4       Singapore
 5  United Kingdom
 6   United States
 7        Pakistan
 8           Italy  ,
    2010 [YR2010]  2011 [YR2011]  2012 [YR2012]  2013 [YR2013]  2014 [YR2014]  \
 0            3.0            5.0            2.0            2.0            1.0
 1            1.0            2.0            1.0            0.0            0.0
 2           11.0            8.0            9.0           10.0            6.0
 3            0.0            0.0            0.0            0.0            2.0
 4            2.0            5.0            4.0            2.0            1.0
 5            2.0            3.0            2.0            2.0            1.0
 6            1.0            3.0            2.0            1.0            1.0
 7           12.0           11.0            9.0            7.0            7.0
 8            1.0            2.0            3.0            1.0            0.0

    2015 [YR2015]  2016 [YR2016]  2017 [YR2017]  2018 [YR2018]  2019 [YR2019]  \
 0            1.0            2.0            1.0            2.0            2.0
 1            0.0            0.0            1.0            1.0            1.0
 2            4.0            4.0            3.0            3.0            3.0
 3            0.0            0.0            0.0            0.0            0.0
 4            0.0            0.0            0.0            0.0            0.0
 5            0.0            1.0            2.0            2.0            1.0
 6            0.0            1.0            2.0            2.0            1.0
 7            2.0            3.0            4.0            5.0           10.0
 8            0.0            0.0            1.0            1.0            0.0

           Country
 0           China
 1          France
 2           India
 3           Japan
 4       Singapore
 5  United Kingdom
 6   United States
 7        Pakistan
 8           Italy  ,
    2010 [YR2010]  2011 [YR2011]  2012 [YR2012]  2013 [YR2013]  2014 [YR2014]  \
 0           8.09           8.13           0.00           0.00           7.74
 1           2.78           2.30           2.28           2.21           2.76
 2           8.88          10.56          10.71          10.59           0.00
 3           3.63           3.84           3.80           2.33           3.77
 4           0.17           0.28           0.21           0.21           0.20
 5           3.02           2.50           2.51           2.47           2.93
 6           2.96           3.03           2.99           2.87           2.93
 7          14.79          14.39          14.14          14.65          13.63
 8           2.78           2.30           2.28           2.21           2.76

    2015 [YR2015]  2016 [YR2016]  2017 [YR2017]  2018 [YR2018]  2019 [YR2019]  \
 0           7.82           7.88           8.46           7.56           5.39
 1           2.73           2.48           2.48           2.46           2.55
 2           9.75           8.91           8.88           9.03          10.21
 3           3.52           3.51           3.69           3.77           5.91
 4           0.20           0.21           0.19           0.58           1.20
 5           2.90           2.68           2.62           2.44           2.55
 6           2.80           2.76           3.36           3.25           8.70
 7          12.73          12.55           0.00          12.58          12.55
 8           2.73           2.48           2.48           2.46           2.55

           Country
 0           China
 1          France
 2           India
 3           Japan
 4       Singapore
 5  United Kingdom
 6   United States
 7        Pakistan
 8           Italy  ,
    2010 [YR2010]  2011 [YR2011]  2012 [YR2012]  2013 [YR2013]  2014 [YR2014]  \
 0            4.0            4.0            4.0            4.0            4.0
 1            8.0            8.0            9.0            9.0           10.0
 2            5.0            5.0            5.0            5.0            5.0
 3            5.0            4.0            4.0            4.0            3.0
 4            4.0            3.0            3.0            3.0            3.0
 5            7.0            8.0            7.0            7.0            6.0
 6            9.0            8.0            8.0            7.0            6.0
 7            0.0            0.0            1.0            2.0            1.0
 8            8.0            8.0           10.0           12.0           12.0

    2015 [YR2015]  2016 [YR2016]  2017 [YR2017]  2018 [YR2018]  2019 [YR2019]  \
 0            4.0            4.0            4.0            4.0            4.0
 1           10.0           10.0            9.0            9.0            8.0
 2            5.0            5.0            5.0            5.0            5.0
 3            3.0            3.0            2.0            2.0            2.0
 4            3.0            4.0            4.0            3.0            3.0
 5            5.0            4.0            4.0            4.0            3.0
 6            5.0            4.0            4.0            3.0            3.0
 7            3.0            3.0            3.0            4.0            3.0
 8           11.0           11.0           11.0           10.0            9.0

           Country
 0           China
 1          France
 2           India
 3           Japan
 4       Singapore
 5  United Kingdom
 6   United States
 7        Pakistan
 8           Italy  ]

#  Data Analysis 
• Perform exploratory data analysis (EDA) to understand the datasets.   
• Calculate summary statistics and identify trends over time for each indicator.

In [118]:
Export

,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],Country
0,8.09,8.13,0.00,0.00,7.74,7.82,7.88,8.46,7.56,5.39,China
1,2.78,2.30,2.28,2.21,2.76,2.73,2.48,2.48,2.46,2.55,France
2,8.88,10.56,10.71,10.59,0.00,9.75,8.91,8.88,9.03,10.21,India
3,3.63,3.84,3.80,2.33,3.77,3.52,3.51,3.69,3.77,5.91,Japan
4,0.17,0.28,0.21,0.21,0.20,0.20,0.21,0.19,0.58,1.20,Singapore
5,3.02,2.50,2.51,2.47,2.93,2.90,2.68,2.62,2.44,2.55,United Kingdom
6,2.96,3.03,2.99,2.87,2.93,2.80,2.76,3.36,3.25,8.70,United States
7,14.79,14.39,14.14,14.65,13.63,12.73,12.55,0.00,12.58,12.55,Pakistan
8,2.78,2.30,2.28,2.21,2.76,2.73,2.48,2.48,2.46,2.55,Italy