In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
# !wget "https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset/download?datasetVersionNumber=7"
# !mv archive.zip datasets
# !unzip datasets/archive

### 1. Data Cleaning

- Load the dataset using pandas.
- Handle missing values and clean the data appropriately.
- Convert data types if necessary (e.g., converting strings to numerical values).

####  1.1 Load the dataset using pandas.

In [3]:
pwd = os.getcwd()
data_dir = os.path.join(pwd,'datasets')
files = os.listdir(data_dir)
dfs = []

for file in files:
    if file.endswith('.csv'):
        if file.endswith('_small.csv'): continue
        df = pd.read_csv(os.path.join(data_dir,file))
        dfs.append(df)

C:\Users\h\AppData\Local\Temp\ipykernel_26120\1054230252.py:9: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(data_dir,file))

#### 1.2 Handle missing values and clean the data appropriately.

In [4]:
for df in dfs:
    df.fillna('NaN', inplace=True)

#### 1.3 Convert data types if necessary

In [5]:
# 我们需要metadata的id，将其转为int64
dfs[-2]['id'] = pd.to_numeric(dfs[-2]['id'], errors='coerce')

for i,df in enumerate(dfs):
    types = ''
    for col in df.columns:
        types += str(df[col].dtype) + ' '
    print(f"dataframe {i+1}:",types)
# print(dfs[-2]['id'])
# dfs[-2]['id'] = dfs[-2]['id'].astype('int64')

dataframe 1: object object int64
dataframe 2: int64 object
dataframe 3: int64 int64 object
dataframe 4: object object object object object float64 object object object object object object object object object object object object object object object object object object
dataframe 5: int64 int64 float64 int64

### 2. Exploratory Data Analysis
- Generate summary statistics for the numerical columns.
- Explore the distribution of movie ratings and revenues.
- Identify the top 10 highest-grossing movies.

#### 问题

我觉得id和一些杂七杂八的项不应该当做统计数据。（但是其实也算numerical）

我这里列了一下每个文件可能需要统计的值：

credits:
|表格名|要统计的列|
|:--|:--|
|credits.csv|None|
|keywords.csv|可能词频是需要的？|
|links.csv|链接表，没有|
|movies_metadata.csv|adults,revenue,runtime,vote_average,vote_count,budget,genres(统计类别？),production(可能？),|
|ratings.csv|rating|

In [6]:
statics_df = pd.merge(dfs[-2],dfs[-1], left_on='id', right_on='movieId')

In [7]:
colomns = ['adult','revenue','runtime','popularity','vote_average','vote_count','budget','rating']

statics_df = statics_df[colomns]

In [8]:
for col in colomns[1:]:
    statics_df[col] = statics_df[col].astype('float64')

In [9]:
statics_df.describe()

,revenue,runtime,popularity,vote_average,vote_count,budget,rating
count,1.143764e+07,1.143660e+07,1.143764e+07,1.143764e+07,1.143764e+07,1.143764e+07,1.143764e+07
mean,7.457752e+07,1.085952e+02,8.028317e+00,6.617816e+00,6.595482e+02,1.967894e+07,3.532719e+00
std,1.746882e+08,2.525750e+01,6.590805e+00,1.071666e+00,1.211956e+03,3.778054e+07,1.066919e+00
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01
25%,0.000000e+00,9.500000e+01,2.967672e+00,6.100000e+00,2.900000e+01,0.000000e+00,3.000000e+00
50%,2.015810e+06,1.060000e+02,7.505268e+00,6.800000e+00,1.600000e+02,1.500000e+06,4.000000e+00
75%,6.948549e+07,1.210000e+02,1.141632e+01,7.300000e+00,6.520000e+02,2.400000e+07,4.000000e+00
max,1.845034e+09,8.770000e+02,1.409502e+02,1.000000e+01,1.407500e+04,3.800000e+08,5.000000e+00

### 3. Genre Analysis
- Create a new column that lists the genre of each movie.
- Determine the most common movie genre.
- Analyze the average rating by genre.

### 5. Basic Calculations (20 marks):
- Calculate the average revenue of movies for each year.
- Determine the average movie rating for each genre.

### 6. Insights and Conclusion (20 marks):
- Summarize your key findings from the EDA and Genre Analysis.
- Discuss any interesting trends observed in the Temporal Trends section.